[Unit]
Description=GlitchTextiles API Gradientes Module 
After=network.target mongod.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/api.glitchtextiles.com/gradientes/gradientes.py
Restart=on-success
RestartPreventExitStatus=SIGTERM SIGKILL
RestartSec=5

[Install]
WantedBy=multi-user.target